name: Title Checks

on:
  pull_request:
    types: [opened, edited, synchronize]
  push:
    branches: [main]

jobs:
  title-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Check Titles
        uses: ./.github/actions/title-check
